* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #060606;
  --secondary: #fc1321;
  --white: #fff;
  --AgeoM: AgeoMedium;
  --AgeoB: AgeoBold;
  --MonumR: MonumentRegular;
  --MonumB: MonumentBold;
  --MonumUB: MonumentUltrabold;
  --DharB: DharmaBold;
  --DharEB: DharmaExBold;
  --critical: CriticalMass;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  min-height: 100vh;
  background: var(--primary);
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #555;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc1321;
  transition: 0.1s ease;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c00f1a;
}
.red-texts {
  color: var(--secondary);
}
#cursor {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: rgb(22, 22, 22);
  border: 4px solid #424242;
  opacity: 0.5;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.11s ease-out;
  animation: cursorA1 0.5s infinite alternate;
  pointer-events: none;
}
#cursor:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: cursorA2 0.5s infinite alternate;
}
@keyframes cursorA1 {
  from {
    transform: scale(1) translate(-50%, -50%);
  }
  to {
    transform: scale(0.8) translate(-50%, -50%);
  }
}
.nav {
  width: 100vw;
  height: 5rem;
  /* position: absolute;
  top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav #logo {
  width: 30%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo span {
  font-family: var(--MonumB);
  font-size: 0.9rem;
  position: absolute;
}
#logo a {
  color: var(--secondary);
  font-family: var(--critical);
  font-size: 1.7rem;
  text-decoration: none;
}
.ham-icon {
  width: 30%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--secondary);
  cursor: pointer;
}
.navigation {
  width: 18rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: -18rem;
  top: 0;
  background-color: var(--secondary);
  transition: 0.6s ease-in-out;
  box-shadow: 0px -5px 60px #000;
  position: fixed;
  z-index: 99;
}
.cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
}
.navigation a:first-child {
  margin-top: 0;
}
.navigation a {
  margin-top: 3rem;
  font-family: var(--MonumB);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.navigation a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3rem;
  background-color: var(--primary);
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.navigation a:hover::before {
  width: 110%;
}
#nav-btn {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.6rem 1rem;
  border: 1.5px solid var(--primary);
  transition: 0.3s ease;
}
#nav-btn:hover {
  background-color: transparent;
  color: var(--primary);
}
#nav-btn:before {
  width: 0;
  height: 0;
}
/* LANDING  */
.underline {
  position: relative;
  z-index: 6;
}
.underline:before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 106%;
  height: 0.7rem;
  background-color: var(--secondary);
  z-index: -1;
}
.main-about{
  width: 100vw;
  min-height: calc(100vh - 5rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left h1{
  font-family: var(--MonumUB);
  color: var(--white);
  font-size: 2.2rem;
}
.abt-text{
  margin-top: 1.3rem;
}
.left ul{
  list-style-type: none;
}
.left ul li{
  margin-top: 0.6rem;
  color: var(--white);
  font-family: var(--AgeoM);
  font-size: 1.2rem;
}
.left ul li span{
  font-family: var(--AgeoB);
}
.left ul li a{
  color: var(--white);
}
.abt-btns{
  margin-top: 2.8rem;
}
.abt-btns a {
  font-family: var(--MonumUB);
  color: var(--primary);
  font-size: 0.8rem;
  background-color: var(--secondary);
  border: 1.3px solid var(--secondary);
  padding: 0.6rem 1.6rem;
  text-decoration: none;
  transition: 0.4s ease;
  margin-top: 2rem;
}
.abt-btns a:nth-child(2){
  color: var(--secondary);
  background-color: transparent;
  margin-left: 1rem;
}
.abt-btns a:nth-child(2):hover{
  color: var(--primary);
  background-color: var(--secondary);
}
.abt-btns a:hover {
  color: var(--secondary);
  background-color: transparent;
}
.right img{
  width: 23rem;
}
/* footer  */
footer {
  overflow-x: hidden;
  width: 100vw;
  height: 3.5rem;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  user-select: none;
  width: 90vw;
  display: grid;
  place-items: center;
}
.text-container p {
  font-family: var(--AgeoB);
  font-size: 1.1rem;
  text-align: center;
}
.text-container p span {
  font-family: sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 560px){
  .text-container p {
    font-size: 85%;
  }
}
/* CONTACT SECTION  */
.contact-me {
  overflow-x: hidden;
  user-select: none;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding: 5rem 0;
}
.contact-me form {
  margin-top: 3rem;
}
.contact-heading {
  font-family: var(--MonumUB);
  color: var(--white);
  font-size: 2rem;
}
.form-inputs {
  display: flex;
  flex-direction: column;
}
.form-inputs:not(:nth-child(1)) {
  margin-top: 1.7rem;
}
.form-inputs .form-title {
  font-family: var(--MonumR);
  color: var(--secondary);
  font-size: 1.3rem;
}
.form-inputs input, .form-inputs textarea {
  width: calc(80vw + 2rem);
}
.form-inputs input {
  height: 2.5rem;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.281);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--MonumB);
  color: var(--white);
}
.form-inputs textarea {
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.281);
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--MonumB);
  color: var(--white);
  border-radius: 0.4rem;
  resize: vertical;
  margin-top: 0.5rem;
}
form .submit {
  text-align: center;
}
form .submit button {
  font-family: var(--MonumUB);
  color: var(--primary);
  font-size: 0.8rem;
  background-color: var(--secondary);
  border: 1.3px solid var(--secondary);
  padding: 0.6rem 1.6rem;
  transition: 0.4s ease;
  margin-top: 2rem;
  text-transform: uppercase;
}
form .submit button:hover {
  color: var(--secondary);
  background-color: transparent;
}
@media screen and (max-width: 642px) {
  .contact-heading {
    font-size: 1.8rem;
  }
  .form-inputs .form-title {
    font-size: 1.1rem;
  }
  .form-inputs input {
    height: 2.1rem;
  }
}
@media screen and (max-width: 425px){
  .contact-heading {
    font-size: 1.5rem;
  }
  .form-inputs .form-title {
    font-size: 1rem;
  }
  .form-inputs input, .form-inputs textarea {
    width: calc(80vw + 1rem);
  }
  form .submit button {
    font-size: 0.7rem;
  }
}